/* CSS Document */

body {
	background-color:#fff;
	background-position:center;
	font-family: "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
	font-size:1.1em;
	color:#777;
}

​.header
{
}

.content
{
    position:absolute;
    top: 3em;
	bottom:0em;
    overflow-y:scroll;        
}​

#container {
}

#header {
	background-color:#ffffff;
    height:1.5em;
	margin:1em 2em 1em 2em;
	padding:0 3em 0em 3em;
	border-bottom:0.2em solid #999999;
}
#header h1 {
	text-align:center;
	font-family: Arial, Helvetica, sans-serif, Trebuchet MS, Geneva;
	font-size:1em;
	color:#333;
	margin:0;
	font-weight:normal;
}
#header h1 strong {
	color:#A85BA6;
}
#header h1 a {
	color:#333;
	text-decoration:none;
}
#header ul {
	margin:0 0 0 0;
	padding:0;
}
#header li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
#header li a {
	padding:0em;
	color:#666;
	text-decoration:none;
	margin:0 0.5em 1em 0.5em;
	font-size:0.8em;
}
#header li a:hover {
	color:#000;
}
#header li a em {
	font-style:normal;
}

/* tell the container's children to float left: */
.float-my-children > * {
    float:left;
    margin-left:8em;
    margin-right:1em;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/* end clearfix*/

#content {
	margin:1em 3em 1em 3em;
	font-size:0.7em;
	line-height: 140%
}

#content h1 {
	font-family:Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-size:1.2em;
	padding:1.0em 0em 0em 0.2em;
	color:#000;
}
#content h1 a {
	color:#000;
	text-decoration:none;
	display:block;
}
#content h1 a:hover {
	color:#444;
}
#content h2 {
	font-size:1.0em;
	color:#444444;
}

#content p {
	/*padding:0.3em;*/
	line-height:140%;
	word-spacing: 0.1em;
	text-align:justify;
	color:#444444;
}

#content p a {
	color:#3366BB;
	text-decoration:none;
}

#content p a:hover{
	text-decoration:underline;
	/*border-bottom:1px solid #000;*/
}

#content ul {
	/*padding:0.3em;*/
	line-height:140%;
	word-spacing: 0.1em;
	text-align:justify;
	color:#444444;
}

#content li em {
	font-weight: bold;
	font-style: normal;
}


#content li a {
	color:#3366BB;
	text-decoration:none;
}

#content li a:hover{
	text-decoration:underline;
}

/*#content li {
	margin:0.1em 0 0.1em 0;
	border-bottom:0.1em solid #f6f6f6;
	padding:0 0 0.1em 0.1em;
	list-style:none;
	 background-image:url(../images/backgrounds/arrow.png); 
	background-position:top left;
	background-repeat:no-repeat;
	color:#999;
}*/

#content blockquote {
	background-color:#f6f6f6;
	margin:4px;
	padding:5px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
#content blockquote p {
	marign:0;
	padding:0 10px 0 10px;
}

#footer {
	background-color:#eee;
	border-top:2px solid #ccc;
	padding:10px;
	text-align:center;
}

a {
	color:#333;
	text-decoration:none;
}
